body{
  background:black;
}
#emoji{
  display:none;
}
#c1{
  margin-top:20px;
}
.container{
  display:flex;
  align-items:center;
  justify-content:center;
  background:black;
  flex-direction:column;
}
